body {
    background: linear-gradient(135deg, #0f172a, #111827);
    color: white;
}

section {
    text-align: center;
    padding: 50px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
}

/* tarjetas */
.cards,
.projects,
.roadmap {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card,
.project,
.step {
    width: 220px;
    padding: 25px;
    border-radius: 15px;
}

.python { background: #02005c; }
.java { background: #d4205cd3; }
.sql { background: #3498db; }
.appian { background: #d6cb04; }

.project,
.step,
.slide {
    background: #1e1e1e;
}

/* imagen perfil */
.profile-pic {
    width: 150px;
    border-radius: 50%;
    border: 3px solid #00ffc8;
}

/* carrusel */
.slide {
    display: none;
    padding: 20px;
    border-radius: 15px;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100px;
    height: 80px;
    object-fit: contain;
}

/* responsive */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .card,
    .project,
    .step {
        width: 90%;
    }

    .profile-pic {
        width: 110px;
    }
}